STEAM_COOKIE_FILE_PATH=your/path/to/cookies.json
# I used a Supabase database for this project. If using a different database, change the DATABASE_URL/DATABASE env variables
# as needed. The format for DATABASE_URL is: postgresql://username:password@host:port/database
DATABASE_URL=postgresql://username:password@host:port/database